.full_name input {
  font-size: 18px;
  border: 1px solid rgb(211, 188, 232);
  border-radius: 4px;
  width: 80%;
  padding: 12px;
  margin-bottom: 20px;
}

.Registration_button {
  padding: 8px 30px;
  width: auto;
  border: 1px solid whitesmoke;
  border-radius: 4px;
}
