.Registration-page {
  text-align: center;
  background-image: radial-gradient(circle, rgb(236, 127, 127), #ee5454);
  border: 2px solid black;
  margin-top: 15%;
  border-radius: 15px;
  padding: 15px;
}
.Registration-page a,
.Registration-page a:visited {
  text-decoration: none;
  color: black;
}

.Registration-page a:hover {
  text-decoration: underline;
}
