.App {
  height: 100%;
  background-color: rgb(216, 216, 216);
}
.App_main {
  display: block;
  margin: 0 auto;
  max-width: 250px;
}

.App_header {
  padding: 0 20px;
  background-color: rgb(51, 51, 54);
}

.Banner {
  text-align: center;
  display: block;
  margin: 0 auto;
  /* width: 700px; */
  border-bottom: 2px solid black;
}
.Banner h1 {
  font-size: 36px;
}
.AddPost-btn {
  display: block;
  margin: 12px auto;
  width: 200px;
  height: auto;
  padding: 12px;
}
.Banner_home_button {
  text-decoration: none;
  writing-mode: vertical-rl;
  text-orientation: upright;
  position: fixed;
  left: 10px;
  top: 200px;
}
@media (min-width: 570px) {
  .App_main {
    max-width: 400px;
  }
}
@media (min-width: 960px) {
  .App_main {
    max-width: 600px;
  }
}
