.login-form input,
.login-form label {
  display: block;
  margin: 12px auto;
}
.login-form {
  display: block;
  margin: 0 auto;
  border: 1px solid black;
  width: 200px;
  height: 300px;
  text-align: center;
}
/* .loginForm input,
.login-form label {
  display: block;
} */

.LoginForm {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.user_name input {
  font-size: 18px;
  border: 1px solid rgb(211, 188, 232);
  border-radius: 4px;
  width: 80%;
  padding: 12px;
  margin: 12px 0;
}
.password input {
  font-size: 18px;
  border: 1px solid rgb(211, 188, 232);
  border-radius: 4px;
  width: 80%;
  padding: 12px;
  margin: 12px 0;
}
.LoginPage_button {
  padding: 8px 30px;
  width: auto;
  border: 1px solid whitesmoke;
  border-radius: 4px;
}
.LoginPage_button {
  padding: 8px 30px;
  width: auto;
  border: 1px solid whitesmoke;
  border-radius: 4px;
}
.LoginPage_button:hover {
  background-color: #4c69f6;
  cursor: pointer;
}
