.AddPost {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.AddPost_title input {
  font-size: 22px;
  border: 1px solid rgb(211, 188, 232);
  border-radius: 4px;
  width: 80%;
  padding: 12px;
  margin-bottom: 20px;
}
.AddPost_content textarea {
  font-size: 18px;
  border: 1px solid rgb(211, 188, 232);
  border-radius: 4px;
  width: 80%;
  height: 35vh;
  padding: 12px;
  margin-bottom: 20px;
}
.AddPost_button {
  background-color: whitesmoke;
  text-decoration: none;
  padding: 8px 30px;
  width: auto;
  border: 1px solid whitesmoke;
  border-radius: 4px;
}
.AddPost_button,
.AddPost_button:visited {
  color: black;
}
.AddPost_button:hover {
  background-color: teal;
  cursor: pointer;
}
.AddPost select {
  font-size: 16px;
  border: 1px solid rgb(211, 188, 232);
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 20px;
}
